.table-row-light2 {
    opacity: 0.5;
    background-color: #f0effd;
}

.table-row-dark {
    background-color: #f5f5f5;
    opacity: 0.8;
}

.table-group-header {
    font-weight: bolder;
}

.ant-table-content {
    overflow: auto !important;
    max-height: calc(100vh - 200px);
}

.ant-table-thead, .ant-table-thead > tr > th {
    position: sticky;
    top: 0;
    z-index: 3;
}

.ant-table-thead .ant-table-cell {
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;

}

.ant-table-wrapper {
    padding: 16px;
}

.ant-table-container {
    background-image: url('img/ticket2.avif');
    background-size: auto;
    background-position: center;
    background-color: rgba(255, 255,255, 1); /* %50 şeffaf renk */
    background-blend-mode: lighten; /* veya overlay, multiply */
    background-repeat: repeat;
    border-radius: 8px;
    padding: 16px;
}